<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>

<form th:action="@{/users/editUser/{id}(id=${user.getId()})}" th:object="${user}" th:method="PUT">
    <div>

        <label for="name">Enter name</label>
        <input type="text" th:field="*{name}" id="name"/>

        <br>

        <label for="lastName">Enter last name</label>
        <input type="text" th:field="*{lastName}" id="lastName"/>

        <br>

        <label for="email">Enter email</label>
        <input type="text" th:field="*{email}" id="email"/>

        <br/>

        <td><input type="submit" value="Update User"/></td>
    </div>
</form>


</body>
</html>